* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: sans-serif;
    src: url("https://fonts.googleapis.com");
}

body {
    font-family: "Roboto", sans-serif;
}

/* header.marquee */
header>marquee {
    background-color: black;
    color: white;
    height: 50px;
    padding-top: 10px;
}

/* header.div1 */
header>div:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 200px 10px 200px;
}

header>div:first-of-type>div:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header>div:first-of-type>div:nth-of-type(1)>a>img {
    width: 200px;
}

header>div:first-of-type>div:nth-of-type(2) input {
    width: 550px;
    height: 65px;
    border: 1px solid gray;
    border-radius: 10px 0 0 10px;
    padding-left: 20px;
    font-size: 17px;
    color: grey;
}

header>div:first-of-type>div:nth-of-type(2) button {
    width: 60px;
    height: 65px;
    border: 1px solid gray;
    border-radius: 0 10px 10px 0;
    background-color: black;
}

header>div:first-of-type>div:nth-of-type(2) button i {
    color: white;
    font-size: 18px;
}

header>div:first-of-type>div:last-of-type>i {
    font-size: 30px;
    margin-right: 15px;
}

/* header.div2 */
header>div:last-of-type {
    background-color: #76b62b;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 10px 0 10px 0;
    font-weight: bolder;
}

header>div:last-of-type i {
    color: white;
    font-size: 14px;
    font-weight: bolder;
    margin-left: 10px;
}

header>div:last-of-type>a,
header>div:last-of-type>button>a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

header>div:last-of-type>button {
    background-color: #609523;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border-style: none;
    margin-right: 50px;
}

header>div:last-of-type>button>a {
    font-size: 18px;
    margin: auto;
}

header>div:last-of-type>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

header>div:last-of-type>div>div>p {
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 30px;
}

header>div:last-of-type>div>div>p {
    color: white;
    font-size: 14px;
}

header>div:last-of-type>div>div>p:first-child {
    font-weight: normal;
}

header>div:last-of-type>div>div>p:last-child {
    font-size: 18px;
    font-weight: 700;
}

header>div:last-of-type>div>i {
    margin: auto;
    background-color: orange;
    color: white;
    font-size: 20px;
    padding: 15px;
    border-radius: 50%;
}



/* main */
.a1 {
    width: 100%;
    height: 500px;
    background-color: black;
    background-image: url(../img/hero-image-1.jpg);
    animation: hero 7s infinite alternate linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

@keyframes hero {
    0% {
        background-image: url(../img/hero-image-1.jpg);
    }

    50% {
        background-image: url(../img/hero-image-5.jpg);
    }

    100% {
        background-image: url(../img/hero-image-1.jpg);
    }
}

.a1 div {
    color: white;
    font-size: 40px;
    filter: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.a1>p {
    margin: auto;
}

.a1>div>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.a1>div>div>button {
    width: 200px;
    height: 65px;
    background-color: transparent;
    font-size: 18px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.a1>div>div>button:last-child {
    border: 2px solid white;
    color: white;
    transition: .2s;
}

.a1>div>div>button:last-child:hover {
    background-color: white;
    color: black;
}

.a1>div>div>button:last-child>i {
    font-size: 26px;
    margin-top: 5px;
}

.a1>div>div>button:first-child {
    border: 2px solid orange;
    background-color: orange;
    color: white;
    transition: .2s;
}

.a1>div>div>button:first-child:hover {
    background-color: green;
    border-color: green;
}

.a1>div>div>button:first-child>i {
    font-size: 26px;
    margin-top: 5px;
}

/* section2 */
.a2 {
    background-color: hsl(32deg 100% 97.06%);
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 90px 0 90px 0;
    gap: 200px;
}

.a2>div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.a2>div>div>i {
    font-size: 64px;
    color: red;
}

.a2>div:nth-of-type(2) {
    cursor: pointer;
}

.a2>div>div>h2,
.a2>div>div>p {
    color: black;
    line-height: 35px;
}

.a2>div:nth-of-type(1),
.a2>div:nth-of-type(2),
.a2>div:nth-of-type(3) {
    transition: .5s;
}


.a2>div:nth-of-type(1):hover,
.a2>div:nth-of-type(2):hover,
.a2>div:nth-of-type(3):hover {
    transform: translate(0, -15px);
}

.a3>div:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 70px;
}

.a3>div:last-of-type {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 160px; */
    margin-top: 20px;
    padding: 0 200px 0 200px;
}
.a3>div:first-of-type>img {
width: 300px;
height: 350px;
border-radius: 10px;
cursor: pointer;
}

.a3>div:last-of-type>p{
    font-size: 20px;
    font-weight: 600;
}

.a4>h2{
    margin: 70px 0 70px 700px;
    font-size: 36px;
}
.a4>div{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.a4>div>div{
    border: 1px solid black;
    line-height: 40px;
    padding: 8px;
}
.a4>div>div>img{
    width: 400px;
    height: 400px;
    padding: 8px;
}
.a4>div>div:nth-last-of-type(1)
, .a4>div>div:nth-of-type(1)>a
, .a4>div>div:nth-of-type(1)>button{
    display: flex;
    flex-direction: column;
}
.b1{
    text-decoration: underline dotted;
    color: rgb(118 182 43);
}
.b2{
    text-decoration: underline dotted;
color: black;
font-size: 20px;
font-weight: 700;
}
.a4>div>div:nth-of-type(1)>p{
    color: grey;
}
.a4>div>div:nth-of-type(1)>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.a4>div>div:nth-of-type(1)>div>p:first-of-type{
    color: red;
    font-weight: 700;
}
.a4>div>div:nth-of-type(1)>div>p:last-of-type{
    color: lightgrey;
    text-decoration: line-through;
}
.a4>div>div:nth-of-type(1)>div>button{
    background-color: antiquewhite;
    border-style: none;
    padding: 5px;
}
.a4>div>div:nth-of-type(1)>button{
    background-color: inherit;
    color: black;
    font-size: 22px;
    width: 100%;
    height: 50px;
    margin-top: 100px;
}